<?xml version="1.0" encoding="utf-8" ?>
<!--
App.config
Copyright (c) 2023-2025 Ishan Pranav. All rights reserved.
Licensed under the MIT License.
-->
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Liber.Forms.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Liber.Forms.Properties.Settings>
            <setting name="RecentPaths" serializeAs="String">
                <value>{}</value>
            </setting>
            <setting name="Culture" serializeAs="String">
                <value />
            </setting>
            <setting name="CustomColors" serializeAs="String">
                <value>[]</value>
            </setting>
            <setting name="Inactive" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ImportRules" serializeAs="String">
                <value>[
    {
        "filter": "^7",
        "type": "incomeTaxExpense",
        "strict": true
    },
    {
        "filter": "^[46]9",
        "type": "otherIncomeExpense",
        "strict": true
    },
    {
        "filter": "^1[689]",
        "type": "otherAsset"
    },
    {
        "filter": "^17",
        "type": "fixedAsset"
    },
    {
        "filter": "^2[5-9]",
        "type": "longTermLiability"
    },
    {
        "filter": "Accumulated Other Comprehensive",
        "cashFlow": "otherEquity"
    },
    {
        "filter": "Capital Gain",
        "type": "otherIncomeExpense",
        "cashFlow": "gainLoss",
        "strict": true
    },
    {
        "filter": "Capital Loss",
        "type": "otherIncomeExpense",
        "cashFlow": "gainLoss",
        "strict": true
    },
    {
        "filter": "Adjustment",
        "cashFlow": "otherEquity",
        "strict": true
    },
    {
        "filter": "Deferred Tax",
        "cashFlow": "operating",
        "strict": true
    },
    {
        "filter": "US Treasury Bill",
        "cashFlow": "investing",
        "strict": true
    }
]</value>
            </setting>
        </Liber.Forms.Properties.Settings>
    </userSettings>
</configuration>
