<?xml version="1.0" encoding="utf-8" ?>
<!--
App.config
Copyright (c) 2023-2026 Ishan Pranav. All rights reserved.
Licensed under the MIT License.
-->
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Liber.Forms.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Liber.Forms.Properties.Settings>
            <setting name="RecentPaths" serializeAs="String">
                <value>{}</value>
            </setting>
            <setting name="Culture" serializeAs="String">
                <value />
            </setting>
            <setting name="CustomColors" serializeAs="String">
                <value>[]</value>
            </setting>
            <setting name="Inactive" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ImportRules" serializeAs="String">
                <value>[
  {
    "filter": "^7",
    "type": "incomeTaxExpense",
    "strict": true
  },
  {
    "filter": "^6",
    "type": "otherIncomeExpense",
    "strict": true
  },
  {
    "filter": "^1[5689]",
    "type": "otherAsset"
  },
  {
    "filter": "^17",
    "type": "fixedAsset"
  },
  {
    "filter": "^2[5-9]",
    "type": "longTermLiability"
  },
  {
    "filter": "Accumulated Other Comprehensive",
    "cashFlow": "otherEquity",
    "otherEquity": true,
    "strict": true
  },
  {
    "filter": "(Capital|Unrealized) (Gain|Loss|Appreciation)",
    "type": "otherIncomeExpense",
    "cashFlow": "gainLoss",
    "strict": true
  },
  {
    "filter": "Deferred.*Tax.*(Asset|Liability)",
    "cashFlow": "operating",
    "strict": true
  },
  {
    "filter": "US Treasury Bill",
    "cashFlow": "investing",
    "strict": true
  },
  {
    "filter": "(Retained Earning|Accumulated Deficit)",
    "type": "equity",
    "equity": true,
    "strict": true
  },
  {
    "filter": "(Individual|ESPP) Short[-\\s]Term",
    "cashFlow": "investing",
    "strict": true
  },
  {
    "filter": "Chase Bank",
    "color": -16752968
  },
  {
    "filter": "Venmo",
    "color": -16741121
  },
  {
    "filter": "US Bank",
    "color": -3200458
  },
  {
    "filter": "Fidelity Investments",
    "color": -13399999
  },
  {
    "filter": "Charles Schwab",
    "color": -16736805
  },
  {
    "filter": "Wealthfront",
    "color": -12042053
  },
  {
    "filter": "Goldman Sachs",
    "color": -9201210
  },
  {
    "filter": "PNC Financial Services",
    "color": -688091
  },
  {
    "filter": "Citibank",
    "color": -14328861
  },
  {
    "filter": "[\\s\\S]*"
  },
  {
    "filter": "(Individual|ESPP) Long[-\\s]Term",
    "type": "otherAsset",
    "cashFlow": "investing"
  }
]</value>
            </setting>
            <setting name="LastAccountGroup" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="LastPosted" serializeAs="String">
                <value />
            </setting>
            <setting name="OverdueReconciled" serializeAs="String">
                <value>30.00:00:00</value>
            </setting>
            <setting name="OverduePosted" serializeAs="String">
                <value>90.00:00:00</value>
            </setting>
        </Liber.Forms.Properties.Settings>
    </userSettings>
</configuration>
